:root {
    --message-background: rgba(255, 255, 255, 0.9);
    --message-color: rgba(0, 0, 0, 0.9);
}

#message {
    background: var(--message-background);
    border-radius: 4px;
    color: var(--message-color);
    display: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
    left: 1rem;
    overflow-wrap: break-word;
    padding: 0.7rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    word-break: normal;
    z-index: 9999;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
